html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: consolas;
    overflow-x: hidden;
}

input[type="checkbox"]{
    position: fixed;
    right: 20px;
    top: 20px;
    width: 50px;
    height: 50px;
    z-index: 100000;
    cursor: pointer;
    opacity: 0;
}

.icon{
    position: fixed;
    right: 20px;
    top: 20px;
    width: 50px;
    height: 50px;
    z-index: 100001;
    background: #000;
}

.icon:before{
    content: 'close';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: 700;
}

input[type="checkbox"]:checked ~ .icon:before{
    content: 'menu';
}

ul {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 50px 20px;
    box-sizing: border-box;
    width: 300px;
    height: 100vh;
    background: #000;
    transition: 0.5s;
    z-index: 100000;
    overflow-y: auto;
}

input[type="checkbox"]:checked ~ ul{
    left: -300px;
}

ul li{
    list-style:none;
}

ul li a{
    display: block;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    transition: 0.5s;
}

ul li a:hover{
    transform: translateX(10px);
    color: #ff0;
}

section{
    position: relative;
    left: 300px;
    padding: 100px;
    box-sizing: border-box;
    transition: 0.5s;
}

input[type="checkbox"]:checked ~ section{
    left: 0;
}

section h2{
    margin: 0;
    padding: 0;
    font-size: 36px;
}

/* Banner */
.vidBanner{
    width: fit-content;
    height: 150vh;
}

.banner{
    position: absolute;
    width: relative;
    height: 50vh;
    overflow: flex;
    justify-content: center;
    align-items: center; 
}

.banner:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #f76578,#ec5be0);
    pointer-events: none;
    mix-blend-mode: color;

}

.banner .textScript{
    position: absolute;
    top: 0;
    left: 0;
    width: 80vh;
    height: 100vh;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    color: #000;
    font-size: 7.5em;
    line-height: 2.1em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 1000;
    mix-blend-mode: screen;
}

.banner .textScript span{
    font-size: 4.2em;
}

.banner video{
    position: absolute;
    top: 0;
    left: 0;
    width: 200vh;
    object-fit: cover;  
}

/* Music */

#music{
        background: #fff;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color:#000;
        /*margin: 0;
        padding: 0; */
        
      }
      .swiper-container {
        width: 100%;
        padding-top: 200px;
        padding-bottom: 200px;
       /* display: flex;
        justify-content: center;
        align-items: center; */
        margin-top: -150px; 
       
      }
      .swiper-slide {
        background-position: center;
        background-size: cover;
        background: #fff;
        width: 300x;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 400px;
        min-width: 50px;
      }

      .music-title {
        display: block;
        margin: 0 0 300px 0;
      }

     /* .swiper-slide .imgBx {
          width: 100%;
          height: 300px;
          overflow: hidden;
      }*/

      .swiper-slide .imgBx img{
          width: relative;
      }

      .swiper-slide .details{
          box-sizing: border-box;
          font-size: 20px;
          padding: 20px;
      }

      .swiper-slide .details h3 span{
          font-size: 16px;
          color: #ff5064;
          letter-spacing: 2px;
          text-align: center;
          margin: 100px 0;
      }

/*videos part 2 */

.containerb{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
}

.containerb .box{
    position: relative;
    width: 450px;
    height: 320px;
    /* background: #000; */
    padding-top: 20px;
}

.containerb .box .videoBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 20px;
}

.containerb .box .videoBx video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-top: 20px;
}

.containerb .box .contentBox{
    position: absolute;
    top: 40px;
    bottom: 40px;
    right: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(252, 252, 252, 0.247);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s;
    transform-origin: right;
    transform: scaleX(0);
}

.containerb .box:hover .contentBox{
    transition: transform 0.5s;
    transform-origin: left;
    transform: scaleX(1);
}

.containerb .box .contentBox .vidContent{
    position: relative;
    padding: 20px 60px;
    opacity: 0;
}

.containerb .box:hover .contentBox .vidContent{
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.5s;
}

.containerb .box .contentBox .vidContent h2{
color: #000;
font-weight: 500;
margin-bottom: 10px;
}

.containerb .box .contentBox .vidContent p{
    color: #000;
    font-weight: 300;
}

/* photo-gallery */
#photos{
    margin: 0 auto;
    max-width: 100%;
    padding: 20px;
    background: #000;
    box-shadow: 0px 0px 50px #000;
    column-count: 3;
    column-gap: 20px;
    column-width: 33.3333%;
}

.containerp img{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

@media only screen and (min-width: 500px) and (max-width: 750px){
    .containerp{
        column-count: 2;
        column-width: 50%;
    }
}

@media only screen and (max-width: 499px){
    .containerp{
        column-count: 1;
        column-width: 100%;
    }
}

 /* contact */

#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #c5cdd4;
}

#container2{
    position: relative;
    width: 100%;
    max-width: 1100px;
    margin: 20px;
    height: 600px;
    background: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .formBx{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .formBx form{
    position: relative;
    width: 100%;
    padding: 0 0 0 75px;
}

.container .formBx form h2{
    color: #fff;
    font-weight: 500;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.container .formBx form .inputBox{
    position: relative;
    margin-bottom: 40px;
}

.container .formBx form .inputBox:last-child{
    margin-bottom: 0px;
}

.container .formBx form .inputBox input,
.container .formBx form .inputBox textarea
{
    position: relative;
    background: transparent;
    outline: none;
    border: none;
    width: 100%;
    color: #fff;
    padding-bottom: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 300;
    border-bottom: 2px solid rgba(255,255,255,0.5);
    resize: none;
}

.container .formBx form .inputBox textarea{
    height: 100px;
}

.container .formBx form .inputBox input[type="submit"]{
    background: #fff;
    padding: 8px 20px;
    margin-top: -10px;
    width: 100px;
    cursor: pointer;
    background: #ff5064;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    border: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    border-radius: 30px;
}

.container .formBx form .inputBox input[type="submit"]:focus{
    background: #1bfaad;
    color: #111;
}

.container .formBx form .inputBox span{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 15px;
    font-size: 16px;
    font-weight: 300;
    display: inline-block;
    pointer-events: none;
    letter-spacing: 1px;
    color: rgba(255,255,255,0.5);
    transition: all 0.2s; 
} 

.container .formBx form .inputBox input:focus ~ span,
.container .formBx form .inputBox textarea:focus ~ span,
.container .formBx form .inputBox input:valid ~ span,
.container .formBx form .inputBox textarea:valid ~ span{
    transform:translateY(-24px);
    color: #1bfaad;
    font-size: 14px;
}

.container .formBx form .inputBox input:focus,
.container .formBx form .inputBox textarea:focus,
.container .formBx form .inputBox input:valid,
.container .formBx form .inputBox textarea:valid{
    border-bottom-color: #fff;
}





/* footer */

footer{
    background: #f1f1f1;
    padding: 90px 0;
}

.footer-container{
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.logo{
    width: 180px;
}

.social-media{
    margin: 20px 0;
}

.social-media a{
    color: #000;
    margin-right: 25px;
    font-size: 22px;
    text-decoration: none;
    transition: .3s linear;
}

.social-media a:hover{
    color: #ee67c5;
}

.right-col h1{
    font-size: 26px;
}

.border{
    width: 100px;
    height: 4px;
    background: #fc5c65
}

.newsletter-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.txtb{
    flex: 1;
    padding: 18px 40px;
    font-size: 16px;
    color: #293043;
    background: #ddd;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    min-width: 260px;
}

.btn{
    padding: 18px 40px;
    font-size: 16px;
    color: #f1f1f1;
    background: #fc5c65;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    margin-left: 20px;
    cursor: pointer;
    transition: opacity .3s linear;
}

@media screen and (max-width:700px) {
    .footer-container{
        max-width: 700px;
    }
    .right-col{
        width: 100%;
        margin-bottom: 60px;
    }

    .left-col{
        width: 100%;
        text-align: center;
    }
}

.btn:hover{
    opacity: .7;
}

@media screen and (max-width:700px){
    .btn{
        margin: 0;
        width: 100%;
        margin-top: 20px;
    }
}

#fb{
    color:  #3b5998;
}

#twit{
    color: #00acee;
}

#yt{
    color: #c4302b;
}
